.root {

}
.panes {
  display: flex;
}
.pane {
  flex: 1;
}
.title {
  margin-bottom: 15px;
}
.paneFooter {
  margin-top: 25px;
  color: #afafaf;
  font-weight: 100;
  font-size: 12px;
}
.dirName {
  display: inline-block;
  color: #868585;
}
.continue {
  margin-top: 40px;
}
