:root {
  --dimension: 50px;
}

.root {
  display: flex;
  width: calc(var(--dimension) * 4 + 30px);
}
.control {
  flex: 1;
}
.btn {
  height: var(--dimension);
  width: var(--dimension);
  line-height: var(--dimension);
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  background-color: rgb(7, 186, 210);
  color: #fff;
  text-shadow: 1px 1px 0 rgb(0, 128, 145);
  border: none;
}
.prev {
  composes: btn;
}
.keep {
  composes: btn;
  background-color: rgb(7, 210, 70);
  text-shadow: 1px 1px 0 rgb(0, 107, 33);
}
.keepActive {
  composes: keep;
  box-shadow: 3px 3px 5px green, -3px -3px 5px green, -3px 3px 5px green, 3px -3px 5px green;
}
.destroy {
  composes: btn;
  background-color: rgb(214, 19, 0);
  text-shadow: 1px 1px 0 rgb(144, 13, 1);
}
.destroyActive {
  composes: destroy;
  box-shadow: 3px 3px 5px rgba(228, 67, 8, .8), -3px -3px 5px rgba(228, 67, 8, .8), -3px 3px 5px rgba(228, 67, 8, .8), 3px -3px 5px rgba(228, 67, 8, .8);
}
.next {
  composes: btn;

}
