.root {
  display: flex;
  justify-content: space-between;
}
.left {
  flex: 1;
}
.center {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.right {
  flex: 1;
}


/*3 col across
middle stacks
within each row in stacks
centered*/
